@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.link:active {
  scale: 0.9;
  background-color: #9ca3af;
  border-radius: 8px;
}

@media (width <= 48rem) {
  .logo {
    margin: 0 auto;
  }
} 

.offer{
  background: url("/bacgground.jpg") no-repeat center/cover ;
}

.hero {
  background:

    url("/bacjground2.jpg") center/cover no-repeat;
}
/*------------------------------------------------------------------------*/ 
/* this add class to the addunit folder */
.add 
{
  background: linear-gradient( to right bottom , pink , #ff000042 , #0080003e , #0000ff40 , #ee00ff4d ,pink ) ;  
  position: relative ;
}
/* .circleone 
{
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: #0414fa97; 
  position: absolute;
  left: 10px;
  top: 50px; 
  filter: blur(120px); 
  opacity: 0.7;
} 

.circletwo 
{
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: #fa04046a; 
  position: absolute;
  right: 5px;
  bottom: 50px; 
  filter: blur(120px); 
  opacity: 0.7;
} */
/*------------------------------------------------------------------------*/ 
/*------------------------------------------------------------------------*/ 
.herotitle
{
  background: linear-gradient(90deg ,  #e107a7c8 , #be0e7e , #0acf14c6 , #0066ff );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip:text ; 
  color: transparent;
  animation: hero1 12s linear infinite;
}
@keyframes hero1  
{
  0% 
  {
    background-position: 0% ;
  }
  25% 
  {
    background-position: 50% ;
  } 
  50% 
  {
    background-position: 100%;
  }
  100% 
  {
    background-position: 0% ;
  }
}
/*------------------------------------------------------------------------*/ 
/* @media (width <= 50rem) {
  .div2 {
    display: flex;
    flex-direction: column; 
    margin-bottom: 8px;
  }
  .div2 * {
    width: 90%;
    margin: 0 auto;
  } 
  .section1 
  {

  }

  .hell1 
  {
    width: 100%;
  } 
  .hell2 
  {
    width:100%
  } 
  .detail{
    height: fit-content; 

  } */
/* }  */
